@import "../base/variables";

#globalfooter {
  background-color: $footer-background;
  // 让footer底部不显示出body的背景色
  overflow: hidden;

  // footer备注文字部分
  .gf-text {
    padding: 17px 0 11px 0;
    border-bottom: 1px solid $footer-border-color;

    .gf-text-list li {
      font-size: 12px;
      color: $footer-text-color;
      padding-bottom: 9.6px;
    }
  }

  // footer导航部分
  .gf-nav {
    display: flex;
    padding-top: 20px;

    .gf-nav-column {
      flex: 1;

      .gf-column-section {
        font-size: 12px;

        &:nth-child(2) {
          padding-top: 24px;
        }

        .gf-column-section-title {
          margin: 0 20px 9.6px 0;
          color: $footer-nav-title-color;
          font-size: 12px;
        }

        .gf-column-section-list {
          margin-right: 20px;

          li {
            margin-bottom: 9.6px;

            a {
              color: $footer-link-color;
            }
          }
        }
      }
    }
  }

  // footer底部文字部分
  .gf-footer {
    padding: 37px 0 11px 0;
    font-size: 12px;
    color: $footer-text-color;

    .gf-footer-shop {
      padding-bottom: 19px;
      margin-bottom: 16px;
      border-bottom: 1px solid $footer-border-color;

      a {
        color: $footer-mini-shop-link-color;
      }
    }

    .gf-footer-legal {
      display: flex;

      .gf-footer-legal-copyright {
        margin: 5px 30px 0 0;
      }

      .gf-footer-legal-links {
        display: flex;
        margin: 5px 30px 0 0;
        color: $footer-link-color;

        li {
          position: relative;
          margin-right: 6px;

          &:after {
            content: '';
            position: absolute;
            right: -1px;
            height: 10px;
            width: 1px;
            margin: 3px 0;
            background-color: $footer-pipe-color;
          }

          a {
            padding-right: 9px;
          }
        }

        li:last-child::after {
          display: none;
        }
      }
    }
  }

  // footer底部备案文字部分
  .gf-footer-number {
    margin: -10px 0 18px 0;
    height: 32px;
    color: #666;
    font-size: 12px;
    position: relative;


    div:first-child {
      position: absolute;
      right: 130px;
    }

    div:last-child {
      position: absolute;
      bottom: 1px;
    }
  }
}
