@import "../base/variables";

#globalnav-flyout {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 44px;
  width: 100%;
  background-color: $globalnav-background-opened-dark;
  backdrop-filter: blur(10px);
  transition: opacity 0.3s ease;
  z-index: -1; // 确保在其他内容之上，但在导航栏之下

  .globalnav-flyout-content {
    display: flex;
    padding: 40px 0 84px;

    h2 {
      display: inline-block;
      margin-bottom: 10px;
      font-size: 12px;
      line-height: 1.33px;
      font-weight: 400;
      color: $globalnav-submenu-header-color;
    }

    ul li {
      margin-top: 6px;

      a {
        padding: 7px 11px 7px 0;
        color: $globalnav-color-secondary;

        &:hover {
          color: $globalnav-color-hover;
        }
      }
    }

    .globalnav-submenu-1 {
      padding-right: 88px;

      a {
        font-size: 24px;
      }
    }

    .globalnav-submenu-1 ul:last-child li a {
      font-size: 12px;
    }

    .globalnav-submenu-2 {
      padding-right: 44px;

      a {
        font-size: 12px;
      }
    }
  }

.globalnav-curtain{
// background: linear-gradient(rgb(0, 0, 0) calc(44px), rgb(255, 255, 255) 0%);
}
}
