@import "../base/variables";

#globalnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $globalnav-background-opened-dark;
  z-index: 5;

  .globalnav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 44px;
    margin: 0 -8px;

    .globalnav-link {
      padding: 0 8px;
      color: $globalnav-color;
      font-size: 11px;

      &:hover {
        color: $globalnav-color-hover;
      }
    }

    .globalnav-link-icon {
      font-size: 17px;
    }

  }


}
