@import "../base/variables";

#homepage {
  max-width: 2560px;
  margin: 0 auto;
  padding-top: 44px;
  background-color: $body-background-color;

  // 顶部小字
  .homepage-section {
    display: grid;
    grid-gap: 12px;
    width: 100%;

    .huabei-ribbon-copy {
      padding: 15px 0;
      width: 98%;
      font-size: 14px;
      text-align: center;

      .huabei-ribbon-link {
        color: #06c;

        .right-arrow {
          font-size: 8px;
          margin-left: 4px;
        }
      }

    }
  }

  // 大图区域
  .homepage-section-large {
    margin-bottom: 12px;

    [section-unit-id] {
      position: relative;
      width: 100%;
      height: 692px;

      .cta-links {
        position: relative;
        z-index: 2;
      }

      .unit-image {
        position: absolute;
        bottom: 0;
        left: 50%;
        right: auto;
        top: auto;
        width: 3008px;
        height: 692px;
        background-size: 3008px 692px;
        background-repeat: no-repeat;
        transform: translateX(-50%);
      }
    }

    [section-unit-id="iphone-16-pro"], [section-unit-id="iphone-16"] {
      text-align: center;

      .unit-copy-wrapper {
        position: relative;
        padding: 55px 0;
        z-index: 2;

        h2 {
          font-size: 56px;
          line-height: 1.07143;
          font-weight: 600;
          color: #f5f5f7;
        }
      }
    }

    [section-unit-id="iphone-16-pro"] {
      .cta-links {
        margin-top: 19px;

        a:last-child {
          margin-left: 13px;
        }
      }

      .unit-image {
        background-image: url("../../assets/images/homepage/hero_iphone16pro_large.jpg");
      }
    }

    [section-unit-id="iphone-16"] {
      .cta-links {
        margin-top: 19px;

        a:first-child {
          background: #F5F5F7;
          color: #000;
          border-color: rgba(0, 0, 0, 0);
          transition: background 0.3s ease, color 0.3s ease;

          &:hover {
            background: #fff;
          }
        }

        a:last-child {
          margin-left: 13px;
          background: transparent;
          color: #fff;
          border-color: #fff;
          transition: background 0.3s ease, color 0.3s ease;

          &:hover {
            background: #fff;
            color: #000;
          }
        }
      }

      .unit-image {
        background-image: url("../../assets/images/homepage/hero_iphone16_large.jpg");
      }
    }

    [section-unit-id="apple-watch-series-10"] {
      text-align: center;

      .unit-copy-wrapper {
        padding: 55px 0;

        h2 {
          position: relative;
          display: block;
          width: 210px;
          height: 80px;
          margin: 0 auto;
          background-size: 210px 80px;
          background-repeat: no-repeat;
          background-image: url(../../assets/images/homepage/hero_logo_apple_watch_series_10_largetall.png);
          z-index: 2;
        }

        p {
          position: relative;
          margin-top: 14px;
          font-size: 28px;
          line-height: 1.25;
          font-weight: 400;
          z-index: 2;
        }

        .cta-links {
          margin-top: 19px;

          a:last-child {
            margin-left: 13px;
          }
        }
      }

      .unit-image {
        background-image: url("../../assets/images/homepage/hero_apple_watch_series_10_large.jpg");
      }
    }
  }

  // 小图区域
  .homepage-section-small {
    display: grid;
    grid-gap: 12px;
    grid-template-columns:repeat(2, 1fr);
    margin-bottom: 12px;
    position: relative;
    left: 12px;
    width: calc(100% - 24px);

    .unit-wrapper {
      position: relative;
      height: 580px;

      .unit-copy-wrapper {
        position: relative;
        z-index: 2;
        text-align: center;

        h3 {
          font-size: 40px;
          line-height: 1.1;
          font-weight: 600;
          margin-top: 53px
        }

        p {
          position: relative;
          margin-left: auto;
          margin-right: auto;
          margin-top: 4px;
          width: 88%;
          max-width: 430px;
          font-size: 21px;
          line-height: 1.3334;
          font-weight: 400;
        }

        .cta-links {
          position: relative;
          z-index: 2;
          margin-top: 17px;

          a {
            font-size: 14px;
            padding: 7px 15px;
          }

          a:last-child {
            margin-left: 10px;
          }
        }
      }

      .unit-image-wrapper {
        overflow: hidden;

        .unit-image {
          position: absolute;
          bottom: 0;
          left: 50%;
          right: auto;
          top: auto;
          width: 1262px;
          height: 580px;
          background-size: 1262px 580px;
          background-repeat: no-repeat;
          transform: translateX(-50%);
        }
      }
    }

    [data-unit-id="wwdc25-announce"] {

      .unit-copy-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 53px;

        p {
          margin-top: 4px;
        }
      }

      .cta-links {
        margin-top: 17px;

        a {
          margin-left: 0;
        }
      }

      .unit-image {
        background-image: url("../../assets/images/homepage/promo_wwdc25_announce_large.jpg");
      }
    }

    [data-unit-id="macbook-air"] {
      .unit-image {
        background-image: url("../../assets/images/homepage/promo_macbook_air_large.jpg");
      }
    }

    [data-unit-id="ipad-air"] {
      h3 {
        width: 144px;
        height: 33px;
        background-size: 144px 33px;
        background-repeat: no-repeat;
        background-image: url(../../assets/images/homepage/promo_logo_ipadair_large.png);
        background-position: center;
        margin: 58px auto 0;
      }

      p {
        margin-top: 10px;
        line-height: 1.3334
      }

      .unit-image {
        background-image: url("../../assets/images/homepage/promo_ipad_air_large.jpg");
      }
    }

    [data-unit-id="ipad"] {
      .unit-image {
        background-image: url("../../assets/images/homepage/promo_ipad_large.jpg");
      }
    }

    [data-unit-id="airpods-pro-2"] {

      h3, p {
        color: #FFFFFF;
      }

      .unit-image {
        background-image: url("../../assets/images/homepage/promo_airpods_pro_large.jpg");
      }
    }

    [data-unit-id="mac-studio"] {
      .unit-image {
        background-image: url("../../assets/images/homepage/promo_macstudio_large.jpg");
      }
    }
  }
}
