* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  min-height: 100vh;
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  color: $body-text-color;
  background-color: $body-background-color;
}

.container {
  width: 100%;
  max-width: 1024px;
  padding: 0 22px;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
  color: #1d1d1f
}

// 禁止文本换行
.nowrap {
  display: inline-block;
  text-decoration: inherit;
  white-space: nowrap;
}

.button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-size: 17px;
  line-height: 1.17648;
  font-weight: 400;
  letter-spacing: -.022em;
  border-style: solid;
  border-width: 1px;
  min-width: 28px;
  padding: 11px 21px;
  border-radius: 980px;

}
