// root
$body-text-color: #1d1d1f;
$body-background-color: #fff;

// header
// nav background color
$globalnav-background-opened: #fafafc;
$globalnav-background-opened-dark: #161617;

// 深色导航栏
// 导航栏字体颜色
$globalnav-color: rgba(255, 255, 255, .8);
// 二级菜单字体颜色
$globalnav-submenu-header-color: rgb(134, 134, 139);
$globalnav-color-secondary: #E8E8ED;
$globalnav-color-hover: #FFFFFF;


// footer
$footer-background: rgb(245, 245, 247);
$footer-text-color: rgba(0, 0, 0, 0.56);
$footer-nav-title-color: rgba(0, 0, 0, 0.88);
$footer-border-color: rgba(0, 0, 0, 0.16);
$footer-link-color: rgba(0, 0, 0, 0.72);
$footer-mini-shop-link-color: rgb(0, 102, 204);
$footer-pipe-color: rgba(0, 0, 0, 0.48);
